<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.my.mapper.DicProMapper">
    <select id="queryDicProByShortName" resultType="com.my.entity.DicPro">
        select code from tbl_dic_pro where short_name=#{short_name}
    </select>
</mapper>
